@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
  height: 100%;
  background-color:#f5f5f5;
  font-family:sans-serif, Arial, Helvetica, cursive;
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', san-serif;
	scroll-behavior: smooth;
}

.bg-image {
  /* The image used */
  background-image: url("dentist2.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /**/
  animation-name: showup;
  animation: showup 2s;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.bg-text h1{
	font-size:80px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #FACD11;
  text-decoration-thickness: 3px;
  margin-bottom: 20px;
  line-height: 90px;
}

.bg-text h2{
  color:#f9f9f9;
	font-size:20px;
  font-style: italic;
  margin-bottom: 20px;
}

.bg-text p{
  font-style: italic;
  margin-bottom: 10px;
}

/*style button*/
.bg-text button{
	background-color: #5454C4;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	opacity: 95%;
	border-radius: 18px;
  transition: all 1s;
}

/*add hover to the booking button*/
.bg-text button:hover{
	background-color: #6B70FA;
  transform: translateY(2.5px);
}

/*background animation*/
@keyframes showup{
	0%		{opacity:0%;}
	25%		{opacity:25;}
	50%		{opacity:50%;}
	75%		{opacity:75%;}
	100%	{opacity:100%;}
}

.services-section {
  padding: 50px 0;
  text-align: center;
  background-color: #f5f5f5;
}

.services-section h2{
  color:#000;
  font-size: 4em;
  margin:50px 0;
  text-decoration: underline;
  text-decoration-color: #FACD11;
  text-decoration-thickness: 3px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.service {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1rem;
  color: #666;
}
/*testimonial*/
.testimonial-section {
  background-color: #313473;
  padding: 50px 0;
  width: 80%;
  border-radius: 0 100px 150px 0;
}

.section-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #FACD11;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #F0EFEE;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.testimonial {
  background-color: #fff;
  border-style: solid;
  border-color: #FADE6B;
  border-width: 5px;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 40px);
  margin-bottom: 30px;
  text-align: center;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #313473;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
}

.testimonial h4 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

/* Other styles... */

.offer-container .section-heading{
  color:#000;
  text-decoration: underline;
  text-decoration-color: #FACD11;
  text-decoration-thickness: 3px;
}

.offer-section {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}

.offer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.offer {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #A2B167;
}

.offer-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.offer-description {
  font-size: 1rem;
  color: #666;
}

@media (max-width:700px){
  .bg-text{
    width: 80%;
  }
  .bg-text h1{
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: yellow;
    line-height: 55px;
  }

  .bg-text h2{
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .bg-text p{
    font-size: 12px;
    margin-top:25px;
  }

  .bg-text button{
    width: 65%;

  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
    margin: 20px auto;
  }

  .testimonial-container {
    display:flex;
    flex-direction: column;
  }

  .testimonial {
    width: calc(50% - 40px);
  }
  
  .testimonial p{
    font-size: 12px;
  }

  .offer {
    width: 80%;
  }
}
