@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
  height: 100%;
  background-color:#f5f5f5;
  text-align:center;
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', san-serif;
	scroll-behavior: smooth;
}

.heading{
  width: 55%;
  height:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1{
  background-color:#ffffff;
  font-size: 60px;
  text-decoration: underline;
  text-decoration-color: #FACD11;
  text-decoration-thickness: 3px;
  border-radius: 50px 100px;
  border-style: solid;
  border-width: 2.5px;
  width: 40%;
  height:auto;
}



.service {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-style: solid;
}

/* Using flexbox to layout the dental team */
.service-container{
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-left:20%;
	/* Declaring animation*/
	animation-name:showup;
	animation: showup 2s;
}

.container {
  background-color: #ffffff;
  display: flex;  
  justify-content: left;
  align-items: left;
  flex-direction: row;
  padding: 20px;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-radius: 50px 0 50px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.service-container .container div {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size:16px;
  width: 50%;
  margin-bottom:100px;
  margin-left: 30px;
}

.container h1{
  font-size:36px;
  text-decoration: underline;
  text-decoration-color: #FACD11;
  text-decoration-thickness: 3px;
}

/*background animation*/
@keyframes showup{
	0%		{opacity:0%;}
	25%		{opacity:25;}
	50%		{opacity:50%;}
	75%		{opacity:75%;}
	100%	{opacity:100%;}
}

/*service pic's opacity decreaseed when user's mouse point to it.*/
.service-container > div > img:hover{
	opacity: 70%;
}

@media (max-width:700px){
  .heading{
    width:100%;
  }
  .heading h1{
    width: 80%;
  }

  .service-container{
    width: 50%;
  }
  
  .container p{
    font-size:14px;
  }
}
